@model IEnumerable<MdImoveis>

@{
    ViewData["Title"] = "Página Inicial";
}

<section class="header-site">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-black linkNav">
                    <i class="fa-solid fa-city text-center"></i>
                    <br />Site de Imóveis
                </h1>
            </div>
        </div>
    </div>
</section>

@if (Model.Count() > 0)
{
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            <div class="d-flex flex-row justify-content-center justify-content-md-start mb-3 mb-md-0">
                <form class="d-inline-block">
                    <select class="form-control selectOrdem">
                        <option value="0">Selecione a ordem desejada</option>
                        <option value="1">Nome</option>
                        <option value="2">Valor</option>
                        <option value="3">Valor decrecente</option>
                        <option value="4">Quartos</option>
                        <option value="5">Quarto decrescente</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4 center">
            <div class="d-flex flex-row mb-3 mb-md-0">
                <div class="input-group">
                    <form class="d-inline-block">
                        <select class="form-control tamanhoPage">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </form>
                    <nav class="d-inline-block ms-3">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.QuantidadePaginas; i++)
                            {
                                @if (i == ViewBag.PaginaAtual)
                                {
                                    <li class="page-item disabled">
                                        <button class="page-link" value="@i">@i</button>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <button class="page-link" value="@i">@i</button>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start mb-3 mb-md-0">
                <form class="d-inline-block ms-3" asp-controller="Home" asp-action="Index" method="get" id="formBusca">
                    <div class="input-group">
                        <input type="text" name="b" id="b" placeholder="Nome do imovel a buscar..." class="form-control" />
                        <input type="hidden" name="o" id="o" value="0" />
                        <input type="hidden" name="p" id="p" value="1" />
                        <input type="hidden" name="t" id="t" />
                        <button class="btn btn-sm btn-secondary" type="submit"><i class="fa-solid fa-magnifying-glass" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="mt-3" />
    <div class="row">
        @foreach (var imovel in Model)
        {
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                <a asp-controller="Home" asp-action="Visualizar" asp-route-id="@imovel.Id" id="cardImovel">
                    <div class="card text-center bg-light mb-4 col-12">
                        @if (imovel.Tipo == 1)
                        {
                            <p class="tipo">Alugando</p>
                        }
                        else
                        {
                            <p class="tipo">Vendendo</p>
                        }

                        <img class="card-img-top img-thumbnail center col-12" src="@Url.Action("Imagem", "Home", new {id = imovel.Id})" alt="Imagem de @imovel.Descricao" style="height:300px; object-fit:cover;">
                        <div class="card-header">
                            R$ @imovel.Valor.ToString("#,##0.00")
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@imovel.Nome</h5>
                            <p class="card-text">@imovel.Endereco.Bairro</p>
                        </div>
                        <div class="card-footer">
                            <div><a href="#" class="btn btn-primary compWhats" data-id="@imovel.Id" data-telefone="@imovel.Usuario.Telefone" data-descricao="@imovel.Nome">Entrar em Contato</a></div>
                            @*<a href="#" class="compWhats" data-id="@imovel.Id" data-telefone="@imovel.Usuario.Telefone" data-descricao="@imovel.Descricao">Compartilhar</a>*@
                            <small class="text-muted">Cidade: @imovel.Endereco.Cidade</small>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <hr class="mt-0" />
    <div class="row">
        <div class="col-12 center">
            <div class="d-flex flex-row mb-3 mb-md-0">
                <div class="input-group">
                    <nav class="d-inline-block ms-3">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.QuantidadePaginas; i++)
                            {
                                @if (i == ViewBag.PaginaAtual)
                                {
                                    <li class="page-item disabled">
                                        <button class="page-link" value="@i">@i</button>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <button class="page-link" value="@i">@i</button>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @if (ViewBag.busca != null)
    {
        <div class="col-12">
            <h3>Sua busca por <b>@ViewBag.busca</b> não obteve resultados.</h3>
        </div>
    }
    else
    {
        <div class="col-12">
            <h3>Não há imoveis cadastrados.</h3>
        </div>
    }

}


