@model IEnumerable<MdImoveis>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    a {
        text-decoration: none;
        color: black;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Lista de Imóveis</h1>
</div>

@if(Model.Count() > 0)
{
<div class="row">
    <div class="col-12 mb-3">
        <form class="form-inline float-right">
            <label>Ordem de Exibição:</label>&nbsp;
            <select class="form-control custom-select-sm" id="selectOrdem">
                <option value="0">Selecione a ordem desejada</option>
                <option value="1">Nome</option>
                <option value="2">Valor</option>
                <option value="3">Valor decrecente</option>
                <option value="4">Quartos</option>
                <option value="5">Quarto decrescente</option>
            </select>
        </form>
    </div>
    @foreach (var imovel in Model)
    {
        <div class="col-sm-4">
            <a asp-controller="imoveis" asp-action="Details" asp-route-id="@imovel.Id">
                <div class="card text-center bg-light mb-4">
                    <img class="card-img-top img-thumbnail" src="@Url.Action("VisualizarUmaImg", "Home", new {id = imovel.Id})" alt="Imagem de @imovel.Descricao" style="height:230px;">
                    <div class="card-header">
                        R$ @imovel.Valor.ToString("F2")
                    </div>
                    <div class="card-body" style="height:124px;">
                        <h5 class="card-title">@imovel.Descricao</h5>
                        <p class="card-text">@imovel.Endereco.Bairro</p>
                    </div>
                    <div class="card-footer">
                        <div><a href="#" class="btn btn-primary">Entrar em Contato</a></div>
                        <small class="text-muted">Cidade: @imovel.Endereco.Cidade</small>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
}
else
{
    @if(ViewBag.busca != null)
    {
        <div class="col-12">
            <h3>Sua busca por <b>@ViewBag.busca</b> não obteve resultados.</h3>
        </div>
    }
    else
    {
        <div class="col-12">
            <h3>Não há imoveis cadastrados.</h3>
        </div>
    }
    
}


