@model IEnumerable<MdImoveis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImovelDsc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelVlr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelNumQrt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelNumVag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelTip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelRua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelBro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelCdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelUF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImovelCEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelDsc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelVlr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelNumQrt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelNumVag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelTip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelRua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelBro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelCdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelUF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelCEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImovelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImovelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImovelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
