@model IEnumerable<Imoveis.Models.MdImoveis>

@{
    ViewData["Title"] = "Imoveis";
}

@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success" id="notfyHome">@TempData["sucesso"] <span class="fa fa-check fa-2x"></span></div>
}
@if (TempData["erro"] != null)
{
    <div class="alert alert-danger" id="notfyHome">@TempData["erro"] <span class="fa fa-times fa-2x"></span></div>
}

<div class="row">
    <h1>@ViewData["Title"]</h1>


    <p style="text-align:right">
        <a asp-action="Create" title="Novo Imovel" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i>&nbsp; Novo Imovel</a>
    </p>
    <div class="table-responsive p-4">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Endereco.Cidade)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Endereco.Estado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        @if (item.Tipo == 0)
                        {
                            <td>Vendendo</td>
                        }
                        else if (item.Tipo == 1)
                        {
                            <td>Alugando</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco.Estado)
                        </td>
                        <td class="btn-group btn-group-justified col-12">
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a>
                            @if (item.Situacao == 0)
                            {
                                <a asp-action="Block" asp-route-id="@item.Id" title="Bloquear" class="btn btn-warning"><i class="fa-solid fa-ban"></i></a>
                            }
                            else if (item.Situacao == 1)
                            {
                                <a asp-action="Block" asp-route-id="@item.Id" title="Desbloquear" class="btn btn-success"><i class="fa-solid fa-ban"></i></a>
                            }
                            <a href="#" title="Apagar" class="btn btn-danger btnDeleteImovel" data-value="@item.Id"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- INICIO DO POPUP DELETE-->
    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</div>