@model IEnumerable<Imoveis.Models.MdImoveis>

@{
    ViewData["Title"] = "Imoveis";
}
<body>
    <h1>@ViewData["Title"]</h1>


    <p style="text-align:right">
        <a asp-action="Create" class="btn btn-success">Novo Imovel</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quarto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vagas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco.Rua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco.CEP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quarto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vagas)
                    </td>
                    @if (item.Tipo == 0)
                    {
                        <td>Vendendo</td>
                    }
                    else if (item.Tipo == 1)
                    {
                        <td>Alugando</td>
                    }

                    <td>
                        <input type="hidden" asp-for="@item.Id" />
                        @Html.DisplayFor(modelItem => item.Endereco.Rua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco.CEP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @if (item.Situacao == 0)
                        {
                            <a asp-action="Block" asp-route-id="@item.Id">Bloquear</a>
                        }
                        else if (item.Situacao == 1)
                        {
                            <a asp-action="Block" asp-route-id="@item.Id">Desbloquear</a>
                        } |
                        <a href="#" class="btn btn-danger btnDelete" data-value="@item.Id">Delete</a>


                    </td>
                </tr>

                <!-- INICIO DO POPUP DELETE-->
            }
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</body>