@model IEnumerable<Imoveis.Models.MdImoveis>

@{
    ViewData["Title"] = "Imoveis";
}

<h1>@ViewData["Title"]</h1>


<p style="text-align:right">
    <a asp-action="Create" class="btn btn-success">Novo Imovel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quarto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vagas)
                </td>
                @if (item.Tipo == 0)
                {
                    <td>Vendendo</td>
                }
                else if (item.Tipo == 1)
                {
                    <td>Alugando</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Endereco.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco.CEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (item.Situacao == 0)
                    {
                        <a asp-action="Block" asp-route-id="@item.Id">Bloquear</a>
                    }
                    else if (item.Situacao == 1)
                    {
                        <a asp-action="Block" asp-route-id="@item.Id">Desbloquear</a>
                    } |
                    <a class="btn btn-danger fa fa-trash-o" data-bs-toggle="modal" data-bs-target="#excluirImovel">Deletar</a>
                </td>
            </tr>

            <!-- INICIO DO POPUP DELETE-->
            <div class="modal fade" id="excluirImovel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close"><span>&times;</span></button>
                            <div class="modal-title"><h3><span class="fa fa-info-circle fa-2x popupExcluir"></span><b>  Excluir Usuario @Html.DisplayFor(modelItem => item.Descricao)</b></h3></div>
                        </div>
                        <div class="modal-body">
                            <p>Essa exclusão é permanente, todos os dados do usuario será perdido!</p>
                        </div>
                        <div class="modal-footer">
                            <a asp-action="Delete" asp-route-id="@item.Id">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

        }

                  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </tbody>
</table>

