@model IEnumerable<Imoveis.Models.MdUsuarios>

@{
    ViewData["Title"] = "Usuários";
}

<h1>Index</h1>

<p style="text-align:right">
    <a asp-action="Create" class="btn btn-success">Novo Usuário</a>
</p>
<div class="table-responsive p-4">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Cpf_Cnpj)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nivel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                ViewBag.cpf_cnpj = item.Cpf_Cnpj.Trim().Length;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    @if (item.Nivel == 1)
                    {
                        <td>Administrador</td>
                    }
                    else if (item.Nivel == 2)
                    {
                        <td>Funcionario</td>
                    }
                    <td class="btn-group btn-group-justified col-12">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a>
                        @if (item.Situacao == 0)
                        {
                            <a asp-action="Block" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-solid fa-ban"></i></a>
                        }
                        else if (item.Situacao == 1)
                        {
                            <a asp-action="Block" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-ban"></a>
                        }
                            <a href="#" class="btn btn-danger btnDeleteUsuario" data-value="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- INICIO DO POPUP DELETE-->
<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="conteudoModal"></div>
        </div>
    </div>
</div>

