@model IEnumerable<Imoveis.Models.MdUsuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="text-align:right;">
    <a asp-action="Create" class="btn btn-success">Novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
                @if(item.Nivel == 1)
                {
                    <td>Administrador</td>
                }
                else if(item.Nivel == 2)
                {
                    <td>Funcionario</td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <button class="btn btn-danger" onclick="Alertal()">Teste</button>
                <form class="d-inline-block" asp-page-handler="delete" asp-route-id="@item.Id" method="post">
                    <button class="btn btn-danger btn-sm" onclick="confirmarExclusao();" type="button">Excluir</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

